name: Tests

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v4
        with: { java-version: 11, distribution: adopt }
      - uses: gradle/gradle-build-action@v2
        with: { arguments: check }
